@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$primary: #00c853;
$secondary: #00913F;
$black: #0A0A0A;
$white: #B3B3B3;
$accent: #0D1F16;
$font-family: 'Inter', sans-serif;

:deep(.btn-primary) {
  background-color: $primary;
  border-color: $primary;
  color: black;

  &:hover {
    background-color: $secondary;
    border-color: $secondary;
    color: black;
  }
}

:deep(.btn-outline-primary) {
  color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: black;
  }
}
